<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <a href="/agregar_producto">Agregar</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Editar</th> <!-- Agregamos una columna para el enlace de editar -->
        </tr>
        {% for producto in productos %}
        <tr>
            <td>{{ producto[0] }}</td>
            <td>{{ producto[1] }}</td>
            <td>{{ producto[2] }}</td>
            <td>{{ producto[3] }}</td>
            <td><a href="/editar_producto/{{ producto[0] }}">Editar</a></td> <!-- Enlace de editar -->
        </tr>
        {% endfor %}
    </table>
</body>
</html>
